.detail-wrapper {
    .detail-box {
        display: flex;
        flex-wrap: wrap;
        column-gap: 60px;
        font-size: 20px;
        padding-bottom: 20px;

        h2 {
            flex: 0 0 auto;
            margin-bottom: 10px;
            width: 100%;
            font-size: 2.4em;
        }

        .txt-box {
            flex: 1;
            p {
                color: #bcbcbc;
                font-weight: 300;
                line-height: 1.7;
                word-break: break-word;
                letter-spacing: 0.5px;
            }
            div {
                margin-top: 50px;
                h3 { margin-bottom: 10px; }
                .info_name {
                    min-width: 200px;
                }

                & > ul {
                    font-size: 1.15em;
                    font-weight: 500;

                    & > li {
                        display: flex;
                        margin-bottom: 8px;
                        .style-bg-dgray { padding: 8px 16px; color: #bbb; background: #232323; }
                        .style-bg-dgray + .style-bg-dgray { margin-left: 4px; }
                        .style-bg-dgray:nth-child(1) { border-radius: 4px 0 0 4px; }
                        .style-bg-dgray:nth-child(2) { color: #ddd; background: #1b1b1b; border-radius: 0 4px 4px 0; }

                        ul {
                            display: flex;
                            flex-wrap: wrap;
                            width: 100%;
                            li {
                                margin-right: 8px;
                            }
                        }
                    }
                }
            }
        }
        .img-box { 
            flex: 1;
            max-width: 400px;

            img {
                max-width: 100%;
                max-height: 100%;
            }
        }
    }

    @media screen and (max-width: 1023px) {
        .detail-box {
            column-gap: 30px;
            font-size: 18px;
            padding-bottom: 20px;
        }
    }

    @media screen and (max-width: 767px) {
        .detail-box {
            flex-direction: column;
            column-gap: 0;
            font-size: 16px;
            
            .txt-box {
                order: 3;
                margin-top: 20px;
                div {
                    .info_name {
                        min-width: 150px;
                    }
                }
            }
            .img-box {
                order: 2;
                flex: 0 0 auto;
                margin: 0 auto;
                max-width: 350px;
                width: 85%;
            }
        }
    }

    @media screen and (max-width: 480px) {
        .detail-box {
            font-size: 14px;
            column-gap: 0;
            .txt-box {
                p {
                    line-height: 1.5;
                }
                div {
                    margin-top: 40px;
                    .info_name {
                        min-width: 115px;
                    }
                    & > ul {
                        font-size: 1em;
                        & > li {
                            .style-bg-dgray { padding: 6px 10px; }
                        }
                    }
                }
            }
        }
    }

    @media screen and (max-width: 330px) {
        .detail-box {
            font-size: 12px;
        }
    }
}